<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/assets/css/admin.css">
  </head>
  <body>
    <div id="vue-app"></div>

    <script type="text/javascript">
      var serverValues = <?= json_encode($serverValues, JSON_UNESCAPED_SLASHES) ?>;
    </script>
    <script src="/assets/js/admin.js"></script>
  </body>
</html>
