<script>
    import { mapState } from 'vuex'
    import vHeader from './components/header.vue'
    import vFooter from './components/footer.vue'
    import vContent from './components/mainContent.vue'

    export default {
        data: function () {
            return {
                reviewActive : false
            }
        },
        components: {
            vHeader,
            vFooter,
            vContent
        },
        computed: {
            ...mapState({
                selectedClient: 'selectedClient'
            })
        },
        methods:{
            addActiveReview: function () {
                this.reviewActive = true;
                console.log(this.reviewActive);
            },
            removeActiveReview: function () {
                this.reviewActive = false;
                console.log(this.reviewActive);
            },
            checkActive(input) {
                const paths = Array.isArray(input) ? input : [input]
                return paths.some(path => {
                    return this.$route.path.indexOf(path) === 0 // current path starts with this path string
                })
            }
        }
    }
</script>

<template>
    <div>
        <vHeader></vHeader>
        <transition name="fade-down">
            <main v-if="(selectedClient && selectedClient != 'null')" class="container">
                <b-nav tabs justified>
                    <b-nav-item @click="removeActiveReview" to="/" exact>View Sections</b-nav-item>
                    <b-nav-item @click="removeActiveReview" to="/upload-csvs">Upload CSVs</b-nav-item>
                    <b-nav-item-dropdown id="dropdownReview" text="Review and Approve" :class="{'active':this.checkActive('/review-and-approve')}">
                        <b-dropdown-item @click="addActiveReview" to="/review-and-approve/headlines">Headlines</b-dropdown-item>
                        <b-dropdown-item @click="addActiveReview" to="/review-and-approve/sub-headlines">Sub Headlines</b-dropdown-item>
                        <b-dropdown-item @click="addActiveReview" to="/review-and-approve/banners">Banners</b-dropdown-item>
                        <b-dropdown-item @click="addActiveReview" to="/review-and-approve/offers-and-terms">Offers and terms</b-dropdown-item>
                        <!--<b-dropdown-divider></b-dropdown-divider>-->
                    </b-nav-item-dropdown>
                </b-nav>
                <vContent></vContent>
            </main>
        </transition>
        <vFooter></vFooter>
    </div>
</template>

<style lang="scss">
    html{
        overflow-y: scroll;
    }
    body{
        padding-top: 155px;
        padding-bottom: 50px;
    }
    button:not(.close){
        margin: 10px;
        cursor:pointer;
    }
    .container{
        padding-top:10px;
        padding-bottom:10px;
    }
    .row{
        border-bottom: solid 3px rgba(0,0,0,.1);
    }
    .row:last-child{
        border-bottom: 0;
    }
    .row-item, .row-item-lg{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .col-md-6{
        padding-bottom:10px;
    }
    .dropdown.active .nav-link{
        border: 1px solid #ddd;
    }
    .dropdown.active .nav-link,
    .nav-tabs .nav-link.active{
        color: #000;
        background-color: #f7f7f7;
        border-bottom-color: #f7f7f7;
    }
    .fade-down-enter-active, .fade-down-leave-active {
        transition: opacity .3s
    }
    .fade-down-enter, .fade-down-leave-to {
        opacity: 0
    }
    .slide-fade-enter-active {
        transition: all .5s ease;
    }
    .slide-fade-leave-active {
        transition: all 0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
    }
</style>
