<script>

    export default {
        data: function () {
            return {
            }
        },
        components: {
        }
    }
</script>

<template>
    <div>

    </div>
</template>

<style lang="sass">

</style>
