<script>

    export default {
        data: function () {
            return {
            }
        },
        components: {
        }
    }
</script>

<template>
    <footer><div class="container">
        <div class="row">
            <div class="col-md-4">
                API Admin
            </div>
            <div class="col-md-4 text-center">

            </div>
            <div class="col-md-4 text-right">
                Zion & Zion
            </div>
        </div>
    </div>
    </footer>
</template>

<style lang="scss">
    footer{
        position:fixed;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        border-top: solid 1px #ededed;
        background-color: #fff;
    }
</style>
