<script>
    import { mapState } from 'vuex'
    import tools from '../tools'

    export default {
        data: function () {
            return {
            }
        },
        components: {

        },
        methods: {

        },
        computed: {
            ...mapState({
                clients: 'clients'
            }),
            selectedClient: tools.cookieBind('selectedClient')
        }
    }
</script>

<template>
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5>Select a client</h5>
                    <b-form-select v-model="selectedClient" :options="clients" class="mb-3">
                    </b-form-select>
                </div>
            </div>
        </div>
    </header>
</template>

<style lang="scss" scoped>
    header{
        z-index:1000;
        position: fixed;
        top:0;
        left:0;
        right:0;
        width:100%;
        color: #131834;
        border-bottom:solid 1px rgb(221, 221, 221);
        background-color: #fff;
        padding: 10px 0px 25px;
    }
</style>
