<script>

    export default {
        data: function () {
            return {
            }
        },
        components: {
        }
    }
</script>

<template>
    <div class="bg-faded container">
        <router-view></router-view>
    </div>
</template>

<style lang="scss">
    .bg-faded{
        border-left: solid 1px rgba(0,0,0,0.1);
        border-right: solid 1px rgba(0,0,0,0.1);
        border-bottom: solid 1px rgba(0,0,0,0.1);
    }
</style>
