<script>
    import { mapState } from 'vuex'
    import axios from 'axios'

    export default {
        data: function () {
            return {
                successSubmit : false,
                errorSubmit : false,
                loadingSubmit : false
            }
        },
        components: {
        },
        computed:{
            ...mapState({
                baseUrl: 'baseUrl',
                selectedClient: 'selectedClient'
            })
        },
        methods: {
            submitChanges(){
                this.loading = true
                this.successSubmit = false
                this.errorSubmit = false
                axios.get(this.baseUrl + '/v1/admin/' + this.selectedClient + '/publish')
                    .then(response => {
                        this.loading = false
                        this.successSubmit = true
                        this.errorSubmit = false
                        console.log(response)
                    }).catch(e => {
                        this.loading = false
                        this.errorSubmit = true
                        this.successSubmit = false
                        console.log(e)
                    })
            }
        }
    }
</script>

<template>
    <transition name="slide-fade">
        <section>
            <router-view></router-view>
            <div class="row submit-row">
                <div class="col-md-6 text-center">
                    <b-alert :show="loadingSubmit" class="text-center"><i class="fa fa-spinner fa-spin"></i></b-alert>
                    <b-alert :show="successSubmit" dismissible variant="success"><i class="fa fa-check-circle"></i> Success!</b-alert>
                    <b-alert :show="errorSubmit" dismissible variant="danger"><i class="fa fa-exclamation-circle"></i> There was an error, try again or contact a developer</b-alert>
                </div>
                <div class="col-md-6 text-center">
                    <b-button variant="success" size="lg" @click="submitChanges">Submit</b-button>
                </div>
            </div>
        </section>
    </transition>
</template>

<style lang="scss">
    .tabs-wrapper{
        text-align: left;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 5px;
        -moz-column-gap: 5px;
        column-gap: 5px;
    }
    .keyword-tab{
        background: #fff;
        border: solid 1px rgba(0,0,0,.1);
        padding: 5px 7px;
        margin: 5px auto;
        display: inline-block;
    }
    .row-item{
        h4{
            font-weight:400;
            font-style: italic;
        }
        h4::before{
            content:'"';
            display: inline-block;
        }
        h4::after{
            content:'"';
            display: inline-block;
        }
    }
    .row-item:nth-child(odd){
        border-right: solid 1px rgba(0,0,0,.1);
    }
    .badge{
        font-weight: 400;
        margin: 5px;
    }
    .submit-row{
        padding-top: 20px;
        border-top: solid 3px rgba(0,0,0,.1);
    }
</style>
