<script>
    import { mapGetters, mapState } from 'vuex'

    export default {
        data: function () {
            return {
            }
        },
        components: {
        },
        computed:{
            ...mapGetters({
                clientResponse: 'getClientResponse'
            }),
            ...mapState({
                baseUrl: 'baseUrl',
                selectedClient: 'selectedClient'
            })
        },
        methods: {
            sectionImageLink: function (imageName) {
                return this.baseUrl+'/images/offers/'+this.selectedClient+'/'+imageName
            },
            termsToShow: function () {
                alert('hola');
                forEach(clientResponse.keywordTermTaxon, function (keyword, term) {
                    console.log(keyword);
                })
            }
        }
    }
</script>

<template>
    <transition name="slide-fade">
        <section>
            <div class="row">
                <h3 class="col-md-12">Offers and terms</h3>
            </div>
            <div class="row" v-for="(keyWords, image, index) in clientResponse.offers" :key="'variant-'+index">
                <div class="col-md-6 row-item">
                    <!--<b-list-group :flush="true">-->
                        <!--<b-list-group-item v-for="(kw, index) in keyWords" :key="'keyword-'+index">{{ kw }}</b-list-group-item>-->
                    <!--</b-list-group>-->
                    <div class="tabs-wrapper">
                        <div class="keyword-tab" v-for="(kw, index) in keyWords" :key="'keyword-'+index">{{ kw }}</div>
                    </div>
                </div>
                <div class="col-md-6 row-item">
                    <img :src="sectionImageLink(image)" class="img-fluid rounded mx-auto d-block">
                    <div class="terms-description">
                        <article v-html="clientResponse.terms[clientResponse.keywordTermTaxon[kw]]" v-for="( kw, index) in keyWords" :key="'term-'+index"></article>
                    </div>
                </div>
            </div>
        </section>
    </transition>
</template>

<style lang="scss">
    .terms-description{
        margin-top: 15px;
        margin-bottom: 0;
        padding: 10px;
        background-color: rgba(255,255,255,.5);
        border: solid 1px rgba(0,0,0,.1);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .terms-description article{
        font-size: 12px;
    }
</style>
