<script>
    import { mapGetters, mapState } from 'vuex'

    export default {
        data: function () {
            return {
            }
        },
        components: {
        },
        computed:{
            ...mapGetters({
                clientResponse: 'getClientResponse'
            }),
            ...mapState({
                baseUrl: 'baseUrl',
                selectedClient: 'selectedClient'
            })
        },
        methods: {

        }
    }
</script>

<template>
    <transition name="slide-fade">
        {{clientResponse}}
        <section>
            <div class="row">
                <h3 class="col-md-12">Headlines</h3>
            </div>
            <div class="row" v-for="(keyWords, headline, index) in clientResponse.headlines" :key="'variant-'+index">
                <div class="col-md-6 row-item">
                    <!--<b-list-group :flush="true">-->
                        <!--<b-list-group-item v-for="(kw, index) in keyWords" :key="'keyword-'+index">{{ kw }}</b-list-group-item>-->
                    <!--</b-list-group>-->
                    <div class="tabs-wrapper">
                        <div class="keyword-tab" v-for="(kw, index) in keyWords" :key="'keyword-'+index">{{ kw }}</div>
                    </div>
                </div>
                <div class="col-md-6 row-item">
                    <h4>{{ headline }}</h4>
                </div>
            </div>
        </section>
    </transition>
</template>

<style lang="scss">

</style>
