<script>
    import _ from 'lodash'
    import Dropzone from 'vue2-dropzone'
    import tools from '../tools'

    export default {
        data: function () {
            return {
                messages: [],
                allowedFileNames: ['headlines.csv', 'subheadlines.csv', 'banners.csv', 'offers.csv', 'terms.csv']
            }
        },
        components: {
            Dropzone
        },
        methods: {
            createAlert: function (type, body) {
                let alertObject = {
                    type: type,
                    body: body
                }
                this.messages.unshift(alertObject)
            },
            showSuccess : function (file) {
                console.log('A file was successfully uploaded')
                console.log(file)
            },
            filesAdded: function (files) {
                this.messages = []
                console.log('filesAdded');
                console.log(files);
            },
            fileUploadError: function (file) {
                console.log('fileUploadError');
                console.log(file);
                let errorMessage = file.name+' was not a valid file'

                if (!_.includes(this.allowedFileNames, file.name)) {
                    errorMessage = '"' + file.name + ' was not an approved file name. Must be one of the following [' + this.allowedFileNames + ']'
                } else if (file.type !== 'text/csv') {
                    errorMessage =  file.name+' was not a CSV'
                }

                this.$refs.dropzoneRef.removeFile(file)
                this.createAlert('danger', errorMessage)
            }
        },
        computed: {
            showMessages: function () {
                return this.messages.length > 0
            },
            baseUrl: function () {
                return this.$store.state.baseUrl
            },
            selectedClient: function () {
                return this.$store.state.selectedClient
            }
        }
    }
</script>

<template>
    <transition name="slide-fade">
        <section>
            <b-alert :show="showMessages" v-for="(message, index) in messages" :key="'message-' + index" :variant="message.type">
                <p>{{ message.body }}</p>
            </b-alert>
            <dropzone
                    ref="dropzoneRef"
                    :id="'drag-and-drop-file-upload'"
                    :url="baseUrl + '/v1/admin/' + selectedClient + '/upload'"
                    :clickable="true"
                    :accepted-file-types="'.csv'"
                    :max-number-of-files="5"
                    :use-font-awesome="true"
                    :use-custom-dropzone-options="true"
                    v-on:vdropzone-success="showSuccess"
                    v-on:vdropzone-files-added="filesAdded"
                    v-on:vdropzone-error="fileUploadError"
            ></dropzone>
        </section>
    </transition>
</template>

<style lang="scss">
    .vue-dropzone{
        .dz-message{
            .fa{
                font-size: 50px;
            }
        }

        .dz-preview{
            &.dz-success-mark{
                 left: 30%;
             }
        }
    }
</style>
