<script>
    import { mapGetters, mapState } from 'vuex'
    import _ from 'lodash'

    export default {
        data: function () {
            return {
                items:[
                    {}
                ]
            }
        },
        components: {
        },
        computed: {
            ...mapGetters({
                imageSections: 'getClientImageSections'
            }),
            ...mapState({
                baseUrl: 'baseUrl',
                selectedClient: 'selectedClient'
            })
        },
        methods: {
            sectionImageLink: function (imageName) {
                return this.baseUrl+'/images/sections/'+this.selectedClient+'/'+imageName
            },
            copySuccess: function(imageName) {
                alert(imageName+" was copied to clipboard")
            }
        }
    }
</script>

<template>
    <transition name="slide-fade">
        <section>
            <div class="row" v-for="(image, index) in imageSections" :key="'section-'+index">
                <div class="col-md-12 col-lg-6 text-center">
                    <b-button size="lg" variant="outline-success" v-clipboard="image" @click="copySuccess(image)">{{image}}</b-button>
                </div>
                <div class="col-md-12 col-lg-6">
                    <img :src="sectionImageLink(image)" v-clipboard="image" @click="copySuccess(image)" class="img-fluid rounded mx-auto d-block img-section">
                </div>
                <div class="col-md-12 text-center row-item-lg">
                    <b-button variant="primary" v-clipboard="image" @click="copySuccess(image)">Copy to clipboard</b-button>
                </div>
            </div>
        </section>
    </transition>
</template>

<style lang="scss">
    .col-lg-6{
        padding: 15px 0;
    }
    .image-name{
        cursor:pointer;
        display:inline-block;
        padding: 5px 10px;
        margin-bottom: 10px;
        background-color: #fff;
        font-size: 20px;
        border: solid 1px #000;
    }
    .img-section{
        cursor:pointer;
    }
</style>
