@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body{
  //color: $red;
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) {

}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {

}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {

}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {

}